img{
	width: 30%;
	float: left;
	margin: 1%;
}

p {
	font-family: 'Source Code Pro', monospace;
	margin-left: 1.55%;
	font-size: 23px;
	font-weight: 200;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}
s
